<div class="container-fluid bg-fundo text-light py-4">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="display-4 text-center font-weight-bold">Bem vinde ao <span class="display-3 bg-text font-weight-bolder">Blog Pessoal</span></h1>
        <p class="text-center">Faça uma postagem no blog aí....</p>

        <div class="d-flex justify-content-around">
          <button class="btn btn-outline-light px-5" data-toggle="modal" data-target="#exampleModal">Nova Postagem</button>
          <a class="btn btn-light px-5" href="#postagens">Ver Postagens</a>

        </div>
      </div>
      <div class="col-md-6">
        <img src="https://i.imgur.com/aRYB1yH.jpg" alt="imagem de fundo dahora" class="img-fluid">
      </div>
    </div>
  </div>
</div>


<!-- * Postagens Cards -->


<div class="container mt-2" id="postagens">
  <nav class="d-flex justify-content-center">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active text-decoration-none text-dark font-weight-bold" id="nav-todasPostagens-tab"
        data-toggle="tab" href="#nav-todasPostagens" role="tab" aria-controls="nav-TodasPostagens"
        aria-selected="true">Todas Postagens</a>

      <a (click)='findByIdUsuario()' class="nav-link text-decoration-none text-dark font-weight-bold"
        id="nav-minhasPostagens-tab" data-toggle="tab" href="#nav-minhasPostagens" role="tab"
        aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
        Postagens</a>

      <a class="nav-link text-decoration-none text-dark font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab"
        href="#nav-postagensTema" role="tab" aria-controls="nav-postagensTema" aria-selected="false">Postagens por
        Tema</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="nav-todasPostagens" role="tabpanel"
      aria-labelledby="nav-todasPostagens-tab">

      <div class="card mb-4 mt-5 bg-light" *ngFor="let item of listaPostagens">
        <div class="card-body">
          <h2 class="card-title mb-0 text-center fs-titulo">{{item.titulo}}</h2>
          <p class="card-text text-center mt-0 mb-3 p-0"><small class="text-muted">{{item.tema.descricao}}</small></p>
          <p class="card-text">{{item.texto}}</p>
          <div class="d-flex flex-column align-items-end">
            <p class="card-text m-0 p-0 text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
            <img class="rounded-circle
            " [src]="item.usuario.foto"
              onerror="this.src = 'https://i.imgur.com/rNUV85x.png'"
              alt="Foto do usuario" width="35px" height="35px">
            <p class="card-text m-0 p-0 text-right"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>
          </div>
        </div>
      </div>




    </div>
    <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
      <div class="card mb-4 mt-5 bg-light" *ngFor="let item of usuario.postagem">
        <div class="card-body">
          <h5 class="card-title mb-0">{{item.titulo}}</h5>
          <p class="card-text mt-0 mb-3 p-0"><small class="text-muted">{{item.tema.descricao}}</small></p>
          <p class="card-text">{{item.texto}}</p>
          <p class="card-text m-0 p-0 text-right"><small class="text-muted">
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
            </small></p>

          <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
          <a [routerLink]="['/postagem-delete',item.id]" class="text-danger" href="">Deletar</a>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab"
      *ngFor="let tema of listaTemas">
      <div class="card mb-4 mt-5 bg-light" *ngFor="let item of tema.postagem">
        <div class="card-body">
          <h5 class="card-title mb-0">{{item.titulo}}</h5>
          <p class="card-text">{{item.texto}}</p>
          <p class="card-text m-0 p-0 text-right"><small class="text-muted">
              {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
            </small></p>
          <p class="card-text m-0 p-0 text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
        </div>
      </div>


    </div>
  </div>
</div>

<!-- ! Postagens Cards -->

<!-- * Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body form-group mb-2 mt-2">
        <label for="titulo">Titulo</label>
        <input [(ngModel)]="postagem.titulo" class="form-control" type="text" id="titulo"
          placeholder="Digite o título" />
        <label class="mb-2 mt-2" for="titulo">Texto</label>
        <textarea [(ngModel)]="postagem.texto" class="form-control" id="exampleFormControlTextarea1"
          rows="4"></textarea>
        <label class="mb-2 mt-2" for="titulo">Escolha seu tema ou <a data-dismiss="modal" routerLink="/temas">cadastre
            um novo:</a></label>
        <select class="form-control" id="exampleFormControlSelect1" name="tema" [(ngModel)]="idTema"
          (change)="findByIdTema()">
          <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- ! Modal -->